{% extends 'base.html.twig' %}

{% block body %}
    <div class="center-block">
        <div class="col-md-4">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" value="Register">Register</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
